<!DOCTYPE html>
<html>
  <head>
    <title>Showoff Widgets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  	<%= render partial: "shared/nav_bar"%>
    <%= render partial: "shared/messages"%>    
    <%= yield %>
  </body>
</html>
